In [111]:
from pythonModules import readVerify
import pandas as pd
import numpy as np
import importlib

In [152]:
## to reload the python module after making changes
importlib.reload(readVerify)

### Testing read_data

In [78]:
#iris dataset
df = readVerify.read_data("https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv",
                         separator=",")

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [70]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Testing test_create_dataframe

In [127]:
#function signature test_create_dataframe(df,columns = [],column_type=[]):
#return True if all conditions are met, return False and prints error message if any of the conditions fail

#Testing for invalid data frame
readVerify.test_create_dataframe(None,["sepasl_length"],[])

Invalid dataframe

False

In [128]:
#Testing for wrong number of columns
readVerify.test_create_dataframe(df,["sepal_length","sepal_width"],["np.float64","np.float64"])

Number of columns are not the same

False

In [132]:
#Testing for wrong column names
readVerify.test_create_dataframe(df,["length_sepal","sepal_width","petal_length","petal_width","species"],
                                 [np.float64,np.float64,np.float64,np.float64,np.object])

Column names mismatch

False

In [137]:
#Testing for incorrect datatypes
readVerify.test_create_dataframe(df,["sepal_length","sepal_width","petal_length","petal_width","species"],
                                 [np.int,np.float64,np.float64,np.float64,np.object])

Datatypes do not match

False

In [139]:
#Testing for df with less than 10 rows
readVerify.test_create_dataframe(df.head(5),["sepal_length","sepal_width","petal_length","petal_width","species"],
                                 [np.float64,np.float64,np.float64,np.float64,np.object])

DataFrame consists of less than 10 rows

False

In [141]:
#All conditions hold true
readVerify.test_create_dataframe(df,["sepal_length","sepal_width","petal_length","petal_width","species"],
                                 [np.float64,np.float64,np.float64,np.float64,np.object])

True

In [159]:
#Testing with different ordering of columns names 
#(expected that index of column name points to the index in column_type)
readVerify.test_create_dataframe(df,["species","sepal_length","petal_length","petal_width","sepal_width"],
                                 [np.object,np.float64,np.float64,np.float64,np.float64])

True

In [150]:
#Checking validity of the function with correct inputs
readVerify.test_create_dataframe(df,list(df.columns),list(df.dtypes))

True